/* (A) GRID LAYOUT */
.grid {
    display: grid;
    grid-gap: 0px;
  }
  
  /* (B) OPTIONAL - CELLS */
  .head,
  .head2,
  .cell {
    padding: 10px;
  }
  
  .head {
    font-weight: 700;
    border: 1px solid #454545;
    // background: #ffbfbf;
    background: #ADADAD
    
  }
  
  .head2 {
      font-weight: 700;
      border: 1px solid #454545;
      
      background: #D3D3D3
      
  }
  
  .cell {
    border: 1px solid #454545;
    background: #FFFFFF;
  }
  